In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as st
import json

#import the api key
from CenKey import CensusKey

In [11]:
#https://api.census.gov/data/2021/pep/population?get=PPOPCHG_CUM2021,NAME,STATE&for=state:*&key={0}
#2019 Population census estimations
url = "https://api.census.gov/data/2019/pep/population?get=POP,NAME&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
Population2019 = pd.DataFrame(Data)
Population2019

           0                     1      2
0        POP                  NAME  state
1    4903185               Alabama     01
2     731545                Alaska     02
3    7278717               Arizona     04
4    3017804              Arkansas     05
5   39512223            California     06
6    5758736              Colorado     08
7     973764              Delaware     10
8     705749  District of Columbia     11
9    3565287           Connecticut     09
10  21477737               Florida     12
11  10617423               Georgia     13
12   1787065                 Idaho     16
13   1415872                Hawaii     15
14  12671821              Illinois     17
15   6732219               Indiana     18
16   3155070                  Iowa     19
17   2913314                Kansas     20
18   4467673              Kentucky     21
19   4648794             Louisiana     22
20   1344212                 Maine     23
21   6045680              Maryland     24
22   6892503         Massachusetts     25
23   9986857              Michigan     26
24   5639632             Minnesota     27
25   2976149           Mississippi     28
26   6137428              Missouri     29
27   1068778               Montana     30
28   1934408              Nebraska     31
29   3080156                Nevada     32
30   1359711         New Hampshire     33
31   8882190            New Jersey     34
32   2096829            New Mexico     35
33  19453561              New York     36
34  10488084        North Carolina     37
35    762062          North Dakota     38
36  11689100                  Ohio     39
37   3956971              Oklahoma     40
38   4217737                Oregon     41
39  12801989          Pennsylvania     42
40   1059361          Rhode Island     44
41   5148714        South Carolina     45
42    884659          South Dakota     46
43   6829174             Tennessee     47
44  28995881                 Texas     48
45    623989               Vermont     50
46   3205958                  Utah     49
47   8535519              Virginia     51
48   7614893            Washington     53
49   1792147         West Virginia     54
50   5822434             Wisconsin     55
51    578759               Wyoming     56
52   3193694           Puerto Rico     72

In [12]:
#2018 Population census estimations
url = "https://api.census.gov/data/2018/pep/population?get=POP,GEONAME&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
Population2018 = pd.DataFrame(Data)
Population2018

           0                     1      2
0        POP               GEONAME  state
1    4887871               Alabama     01
2     737438                Alaska     02
3    7171646               Arizona     04
4    3013825              Arkansas     05
5   39557045            California     06
6    5695564              Colorado     08
7    3572665           Connecticut     09
8     967171              Delaware     10
9     702455  District of Columbia     11
10  21299325               Florida     12
11  10519475               Georgia     13
12   1420491                Hawaii     15
13   1754208                 Idaho     16
14  12741080              Illinois     17
15   6691878               Indiana     18
16   3156145                  Iowa     19
17   2911505                Kansas     20
18   4468402              Kentucky     21
19   4659978             Louisiana     22
20   1338404                 Maine     23
21   6042718              Maryland     24
22   6902149         Massachusetts     25
23   9995915              Michigan     26
24   5611179             Minnesota     27
25   2986530           Mississippi     28
26   6126452              Missouri     29
27   1062305               Montana     30
28   1929268              Nebraska     31
29   3034392                Nevada     32
30   1356458         New Hampshire     33
31   8908520            New Jersey     34
32   2095428            New Mexico     35
33  19542209              New York     36
34  10383620        North Carolina     37
35    760077          North Dakota     38
36  11689442                  Ohio     39
37   3943079              Oklahoma     40
38   4190713                Oregon     41
39  12807060          Pennsylvania     42
40   1057315          Rhode Island     44
41   5084127        South Carolina     45
42    882235          South Dakota     46
43   6770010             Tennessee     47
44  28701845                 Texas     48
45   3161105                  Utah     49
46    626299               Vermont     50
47   8517685              Virginia     51
48   7535591            Washington     53
49   1805832         West Virginia     54
50   5813568             Wisconsin     55
51    577737               Wyoming     56
52   3195153           Puerto Rico     72

In [17]:
#2019 Population Race census estimation for White people
url = "https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&RACE=1&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
WPeople = pd.DataFrame(Data)
WPeople
#2019 Population Race census estimation for Black people
url = "https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&RACE=2&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
BPeople = pd.DataFrame(Data)
BPeople
#2019 Population Race census estimation for American Indian and Alaska Native peoples
url = "https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&RACE=3&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
AiAnPeople = pd.DataFrame(Data)
AiAnPeople
#2019 Population Race census estimation for Asian people
url = "https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&RACE=4&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
AsPeople = pd.DataFrame(Data)
AsPeople
#2019 Population Race census estimation for Native Hawaiian and Other Pacific Islander peoples
url = "https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&RACE=5&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
HOPPeople = pd.DataFrame(Data)
HOPPeople

                       0       1     2      3
0                   NAME     POP  RACE  state
1            Mississippi    1806     5     28
2               Missouri    9857     5     29
3                Montana     920     5     30
4               Nebraska    2349     5     31
5                 Nevada   24585     5     32
6          New Hampshire     672     5     33
7             New Jersey   10240     5     34
8             New Mexico    3341     5     35
9               New York   27034     5     36
10        North Carolina   13130     5     37
11          North Dakota     615     5     38
12                  Ohio    7055     5     39
13              Oklahoma    8581     5     40
14                Oregon   19245     5     41
15          Pennsylvania    9994     5     42
16          Rhode Island    2125     5     44
17        South Carolina    5065     5     45
18          South Dakota     787     5     46
19             Tennessee    6578     5     47
20                 Texas   43212     5     48
21               Vermont     247     5     50
22                  Utah   33979     5     49
23              Virginia   10092     5     51
24            Washington   60349     5     53
25         West Virginia     530     5     54
26             Wisconsin    3419     5     55
27               Wyoming     596     5     56
28               Alabama    5110     5     01
29                Alaska   10498     5     02
30               Arizona   20169     5     04
31              Arkansas   11786     5     05
32            California  199805     5     06
33              Colorado   11329     5     08
34              Delaware    1059     5     10
35  District of Columbia     923     5     11
36           Connecticut    3879     5     09
37               Florida   24641     5     12
38               Georgia   12411     5     13
39                 Idaho    3944     5     16
40                Hawaii  143549     5     15
41              Illinois    8385     5     17
42               Indiana    4539     5     18
43                  Iowa    4804     5     19
44                Kansas    3687     5     20
45              Kentucky    4192     5     21
46             Louisiana    2854     5     22
47                 Maine     455     5     23
48              Maryland    6705     5     24
49         Massachusetts    7410     5     25
50              Michigan    4186     5     26
51             Minnesota    4214     5     27

In [18]:
#2018 Population Race census estimation for White people
url = "https://api.census.gov/data/2018/pep/charagegroups?get=GEONAME,POP&RACE=1&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
WPeople18 = pd.DataFrame(Data)
WPeople18
#2018 Population Race census estimation for Black people
url = "https://api.census.gov/data/2018/pep/charagegroups?get=GEONAME,POP&RACE=2&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
BPeople18 = pd.DataFrame(Data)
BPeople18
#2018 Population Race census estimation for American Indian and Alaska Native peoples
url = "https://api.census.gov/data/2018/pep/charagegroups?get=GEONAME,POP&RACE=3&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
AiAnPeople18 = pd.DataFrame(Data)
AiAnPeople18
#2018 Population Race census estimation for Asian people
url = "https://api.census.gov/data/2018/pep/charagegroups?get=GEONAME,POP&RACE=4&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
AsPeople18 = pd.DataFrame(Data)
AsPeople18
#2018 Population Race census estimation for Native Hawaiian and Other Pacific Islander peoples
url = "https://api.census.gov/data/2018/pep/charagegroups?get=GEONAME,POP&RACE=5&for=state:*&key={0}".format(CensusKey)
response = requests.request("GET",url)
Data = json.loads(response.text)
HOPPeople18 = pd.DataFrame(Data)
HOPPeople18

                       0       1     2      3
0                GEONAME     POP  RACE  state
1                Alabama    5207     5     01
2                 Alaska   10221     5     02
3                Arizona   19789     5     04
4               Arkansas   10881     5     05
5             California  199872     5     06
6               Colorado   10933     5     08
7            Connecticut    3840     5     09
8               Delaware    1049     5     10
9   District of Columbia     975     5     11
10               Florida   24353     5     12
11               Georgia   12432     5     13
12                Hawaii  144806     5     15
13                 Idaho    3883     5     16
14              Illinois    8445     5     17
15               Indiana    4542     5     18
16                  Iowa    4232     5     19
17                Kansas    3619     5     20
18              Kentucky    4058     5     21
19             Louisiana    2889     5     22
20                 Maine     455     5     23
21              Maryland    6746     5     24
22         Massachusetts    7417     5     25
23              Michigan    4142     5     26
24             Minnesota    4145     5     27
25           Mississippi    1812     5     28
26              Missouri    9585     5     29
27               Montana     893     5     30
28              Nebraska    2338     5     31
29                Nevada   23962     5     32
30         New Hampshire     637     5     33
31            New Jersey    9984     5     34
32            New Mexico    3404     5     35
33              New York   26745     5     36
34        North Carolina   12989     5     37
35          North Dakota     573     5     38
36                  Ohio    6994     5     39
37              Oklahoma    7568     5     40
38                Oregon   18999     5     41
39          Pennsylvania   10056     5     42
40          Rhode Island    2135     5     44
41        South Carolina    5153     5     45
42          South Dakota     747     5     46
43             Tennessee    6496     5     47
44                 Texas   42333     5     48
45                  Utah   33495     5     49
46               Vermont     247     5     50
47              Virginia    9998     5     51
48            Washington   59001     5     53
49         West Virginia     528     5     54
50             Wisconsin    3243     5     55
51               Wyoming     572     5     56